@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FAFC;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .btn-primary {
    @apply bg-gray-200 border border-gray-300 text-gray-900 sm:text-sm block w-full pl-9 p-2 lg:p-2.5;
}
}
